<section class="section-header">
  <div class="section-header__box">
    <h3 class="section-header__h3">James Webb</h3>
    <h1 class="section-header__h1">Space Telescope</h1>
    <h6 class="section-header__h6">
      Webb will be the largest, most powerful and complex space telescope ever
      built and launched into space. It will fundamentally alter our
      understanding of the universe.
    </h6>
    <button class="section-header__button">Learn More</button>
    <div class="section-header__icon-container">
      <mat-icon class="section-header__mat-icon--down">
        keyboard_arrow_down</mat-icon
      >
    </div>
  </div>
</section>
