.container {
  display: grid;
  grid-template-rows: 80rem repeat(3, min-content);
  grid-template-columns:
    minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem))
    minmax(6rem, 1fr);
}

.section-header {
  position: relative;
  background: url("/./assets/jwstengineers2.jpeg"),
    linear-gradient(to bottom, var(--color-black), var(--color-black));
  background-size: cover;
  background-blend-mode: soft-light;
  background-position: 50% 50%;
  height: 68rem;
  margin-bottom: 10rem;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 26rem;
    width: 80rem;
    padding-bottom: 5rem;
  }

  &__h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__h3 {
    color: var(--color-tertiary);
  }

  &__h6 {
    margin-bottom: 5rem;
    color: var(--color-white);
  }

  &__icon-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-primary);
    height: 10rem;
    width: 10rem;
    transition: all 0.3s;

    &:hover {
      color: var(--color-tertiary);
      cursor: pointer;
    }
  }

  &__mat-icon--down {
    font-size: 7rem;
    width: 7rem;
    height: 7rem;
    padding-top: 0.6rem;
  }

  &__img {
    height: 18rem;
    width: 18rem;
    border: 2px solid var(--color-white);
    border-radius: 30rem;
    background: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.3)
      ),
      url("/./assets/galaxy2.jpeg");
    background-size: cover;
    background-position: 50%-50%;
    &:hover {
      cursor: pointer;
    }
  }

  &__button {
    margin-bottom: 5rem;
  }
}
