<section class="section-header">
  <div class="section-header__box">
    <h4 class="section-header__h4">James Webb</h4>
    <h1 class="section-header__h1">Space Telescope</h1>
    <p class="section-header__p">
      Webb will be the largest, most powerful and complex space telescope ever
      built and launched into space. It will fundamentally alter our
      understanding of the universe.
    </p>
    <button class="section-header__button">Learn More</button>
    <div class="section-header__icon-container">
      <mat-icon class="section-header__mat-icon--down">
        keyboard_arrow_down</mat-icon
      >
    </div>
  </div>
</section>
